.standard-text {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 350px;
    height: 25px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }
  .city {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100px;
    height: 25px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    left: 150px;
    top: 160px;
  }

.row{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 50px;
    position: absolute;
    left: 300px;
    top: 300px;
}