@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

.listings {
    display: flex;
    background-color: #d6e0f8;
    font-family: 'Inter', sans-serif;
    flex-direction: column;

    .title {
        font-size: 48px;
        font-weight:900;
    }

    .listing {
        background-color: white;
        border-radius: 15px;
        padding: 15px;
        margin: 20px 50px 20px 50px;
        font-size: 18px;

        .listing-info {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin: 5px;
        }

        .listing-text {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .listing-left {
                display: flex;
                flex-direction: column;
                margin: 20px;
                align-items: start;
            }

            .listing-right {
                display: flex;
                flex-direction: column;
                margin: 20px;
                align-items: start;
            }
        }

        .listing-name {
            font-size: 30px;
            font-weight: bold;
        }

        .listing-address-info {

            .listing-address {
                margin-left: 20px;
            }

        }

        .button-delete{
            background-color: #091A71;
            border-radius: 5px;
            color: white;
            font-size: 15px;
            font-weight: bold;
            height: 25px;
            width: 75px;
            margin: 15px;
          }

        .listing-label {
            font-weight: bold;
        }
    }
}