@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body { /*color of the body of the webpage*/
  background-color: #d6e0f8; 
}

.information {
  display: flex;
  justify-content: space-between;
}

.standard-text {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 350px;
    height: 25px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }

  .my-dropdown {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 370px;
    height: 47px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }

  .address {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 235px;
    height: 25px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }

  .room-apt {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 95px;
    height: 25px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }

  .city {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 155px;
    height: 25px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }

  .state {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 75px;
    height: 47px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }

  .zip {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 97px;
    height: 25px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }

.description {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    height: 312px;
    width: 800px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    text-align: left;
    text-indent: 5px;
    line-height: 20px;
    text-align: left;
    overflow-wrap: break-word;
  }

.property_info-container {
  display: flex;
  flex-direction: column; /* Each row will be placed vertically */
  justify-content: center;
  align-items: center; /* Align the rows to center */
  gap: 0px;
}
  
  .property_info_heading{
    display: flex;
    flex-direction: column; /* Each row will be placed vertically */
    justify-content: left;
    align-items: left; /* Align the rows to center */
    gap: 1px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
  }

  .client_info_heading{
    display: flex;
    flex-direction: column; /* Each row will be placed vertically */
    justify-content: left;
    align-items: left; /* Align the rows to center */
    gap: 1px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .title{
    display: flex;
    flex-direction: column; /* Each row will be placed vertically */
    justify-content: left;
    align-items: left; /* Align the rows to center */
    gap: 1px;
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: 700;
  }

.row{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 75px;
}

.sub_row1{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.sub_row2{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.client_info_row {
  display: flex;
  justify-content: center;
  gap: 75px;
  margin-bottom: 20px;
}

.submit{
  background-color: blue;
  color: rgb(0, 0, 0);
  height: 200px;
}