@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body { /*color of the body of the webpage*/
  background-color: #d6e0f8; /* Replace with your desired color */
}

.information {
  display: flex;
  justify-content: space-between;
}

.standard-text {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
  }

  .room-apt {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 20px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
  }

.description {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    height: 212px;
    width: 604px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-align: left;
    text-indent: 5px;
    line-height: 20px;
  }

.my-dropdown {
  display: block;
  margin-bottom: -2px;
  padding: 0px;
  width: 200px;
  height: 30px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  background-color: #fff;
  font-size: 12px;
  margin-right: 10px;
}

  .property_info-container {
    display: flex;
    flex-direction: column; /* Each row will be placed vertically */
    justify-content: center;
    align-items: center; /* Align the rows to center */
    gap: 1px;
  }
  
  .property_info_heading{
    display: flex;
    flex-direction: column; /* Each row will be placed vertically */
    justify-content: left;
    align-items: left; /* Align the rows to center */
    gap: 1px;
    font-size: 36px;
  }

  .property_info-container > div {
    display: flex;
    flex-direction: row; /* Each group of textboxes in a row will be placed horizontally */
    align-items: center; /* Align the textboxes to the center of the row */
    margin-bottom: 10px; /* Add some vertical space between each row */
  }
  
  .property_info-container > div > label {
    width: 150px; /* Set a fixed width for the label to align the textboxes */
    margin-right: 10px; /* Add some horizontal space between the label and the textbox */
  }
  
  .property_info-container > div > input {
    flex: 1; /* Allow the textbox to take up the remaining space in the row */
  }

  .state {
    display: block;
    margin-bottom: -2px;
    padding: 5px;
    width: 200px;
    height: 30px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 4px;
    background-color: #fff;
    font-size: 12px;
    margin-right: 10px;
  }
